keystore "roadrunner.store"; keystorePasswordURL "filewithpass";
grant signedBy "wile", codebase "file:sig_acme.jar" { permission java.util.PropertyPermission "java.home", "read";
};
